body {
    margin: 0;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-width: 20px;
    border-color:#363636;

    background-color:#5e5e5e;
    color: #ececec
}
.left,
.right {
    margin: 30px;
    
    display: flex;
    gap: 15px;

    font-family: 'Montserrat', sans-serif;
}

.left {
    flex-direction: column;
}
.right a,
.right div {
    text-decoration: none;
    color: #ececec;
    font-size: 14pt;
}

.left .title {
    font-size: 24pt;
}

.left .subtitle {
    font-size: 14pt;
}